#tableFirst tr td{
    text-align:center;
    border:0;
    font-size:18px;
    border-radius:5px;
}

#tableFirst tr td a{
    color: #0179AF;
    text-decoration:none;
}

#tableFirst tr td a:hover{
    color: #03a9f4;
}

#tableFirst tr td input{
    padding:0;
    width:90%;
    font-size:14px;
    text-align:center;
}

#tableFirst .deleteCursor{
    Cursor: default;
}

.colorNow{
    background-color: #fff;
    Cursor : pointer;
}

#actived{
    background-color: #03a9f4;
    color: #fff;
    Cursor : pointer;
}

#timeFont1{
    font-weight:bold;
    color: #f00;
}

#timeFont2{
    font-weight:bold;
    color: #0f0;
}

.bacColor{
    color:#cccccc;
    Cursor: default;
}